.Link{
  margin-top: 54px;
}


header{
  background-color: #1890FF;
  padding: 14px;
  color: #fff;
  font-size: 24px;
}

main{
  padding: 34px;
}

h1{
  font-size: 44px;
  font-weight: 700;
}

p{
  font-size: 18px;
  color: #7E7E7E;
}

a{
  font-size: 18px;
  padding: 16px;
  border-radius: 10px;

  background-color: #1890FF;
  color: #fff;
}
