.card-container{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    
    margin-top: 68px;
}

.card-container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #fff solid 1px;
}


main{
    background-color: #E6F7FF;
    
    display: flex;
    flex-direction: column;
    
    
    width: 1200px;
    margin: 50px auto;
}

h1{
    font-size: 55px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}

input{
    width: 450px;
    height: 38px;
    padding: 10px;
    border: none;
    border-bottom: #0b68be 3px solid;
    border-top: #0b68be 3px solid;
    color: black;
    border-radius: 10px;
}

button{
        font-size: 18px;
        padding: 16px;
        border-radius: 10px;
        width: 200px;
        background-color: #1890FF;
        color: #fff;
}

button:hover{
    background-color: #0b68be;
    cursor: pointer;
}